# Node modules
**/node_modules/
**/dist/
**/build/

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/instance/
**/.pytest_cache/
**/venv/
**/env/

# IDEs
**/.vscode/
**/.idea/
*.swp
*.swo

# Database
**/*.db
**/*.sqlite
**/*.sqlite3

# Environment variables
**/.env
**/.env.local

# OS
.DS_Store
Thumbs.db

# Build files
**/static/css/
**/static/js/